<h2>Créer un nouvel examen</h2>
<form id="form-examen" method="POST" action="/enseignant/create-exams">
    <label>Titre :</label>
    <input type="text" name="titre" id="titre" required><br>

    <label>Description :</label>
    <textarea name="description" id="description" required></textarea><br>

    <label>Public ciblé :</label>
    <input type="text" name="public" id="public" placeholder="ex: 2e année MIP, S4, groupe A" required><br>

    <input type="hidden" name="lien" id="lien">

    <button type="submit" id="#submit">Créer l’examen</button>
</form>


<!-- <div id="lien-generé">
    <p><strong>Lien d'accès :</strong> <a href="#" id="lien-affiche" target="_blank"></a></p>
</div> -->