<div class="navbar">
    <img class="logo" src="/Study%20Room%20white.svg" alt="Logo Study Room">
    <ul>
        <li><a href="/accueil">Accueil</a></li>
        <li><a href="/connexion">Connexion</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    </div>
<div class="content">
    <h1>Bienvenue dans <span class="designe">Study room</span></h1>
    <p>Une plateforme de partage des cours, des examens et des ressources pour les étudiants</p>
</div>

<spline-viewer 
    class="robot" 
    url="https://prod.spline.design/ZQtXL35-tpeeZvvI/scene.splinecode"
></spline-viewer>