<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/connexion.css">
</head>
<body>
    <div class="base">
        <div class="connexion">
            <h2>Connexion</h2>
            <form id="loginForm">
                <div class="form-group">
                    <input 
                        type="email"  
                        id="email" 
                        name="email" 
                        required
                        placeholder="exemple@domaine.com"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    >
                    <label for="email">Email</label>
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Mot de passe</label>
                </div>

                <button  type="submit" class="login-btn">Login<button>
                
                <div class="extra-links">
                    <a href="/principale/forgot">Mot de passe oublié ?</a>
                    <a href="/principale/accueil">Créer un compte</a>
                </div>
            </form>
        </div>
    </div>
    <script src="/javascript/connexion.js"></script>
</body>
</html>
