<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us </title>
    <link rel="stylesheet" href="/css/contact.css">

</head>
<body>
     <nav class="navbar">
  <div class="logo">Espace d'Étude</div>

  <div class="nav-right">
    <ul>
      <li><a href="accueil">Accueil</a></li>
      <li><a href="connexion">Connexion</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="about">À propos</a></li>
    </ul>

    <div class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>

    <div class="base">
        <div class="connexion">
            <h2>Contact</h2>
            <form>

                <div class="form-group">
                    <input type="text" required>
                    <label>Nom</label>
                </div>


                <div class="form-group">
                    <input 
                        type="email"  
                        id="email" 
                        name="email" 
                        required
                        placeholder="exemple@domaine.com"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    >
                    <label for="email">Email</label>
                </div>

                <div class="form-group">
                    <textarea id="message" required placeholder=" "></textarea>
                    <label for="message">Message</label>
                </div>

                <button type="submit" class="login-btn">envoyer</button>
                
            </form>
        </div>
    </div>
    <script>
          const burger = document.querySelector('.burger');
const navLinks = document.querySelector('.navbar ul');

burger.addEventListener('click', () => {
  navLinks.classList.toggle('active');
});
    </script>
 <script src="/javascript/contact.js"></script>
</body>
</html>