<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Réinitialisation Mot de passe</title>
  <link rel="stylesheet" href="/css/forgot.css" />
</head>
<body>
  <div class="base">
    <div class="container">
      <h1>Réinitialisation Mot de passe</h1>

      <form id="forgot-form" method="POST">
  <div class="form-group">
   <input
  type="email"
  id="email"
  name="email"
  required
  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
>

    <label for="email">Email</label>
  </div>

  <button type="submit">
    <span class="btn-text">Continuer</span>
    <div class="loader"></div>
  </button>
</form>
<div id="error-message" style="color: red; display: none; margin-top: 10px;"></div>

      <div class="terms">
        Retour à la page <a href="connexion">connexion</a>
      </div>
    </div>
  </div>
  <script src="/javascript/forgot.js"></script>
</body>
</html>
